/* Big tablets to 1200px(widths smaller than the 1140px row)*/
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width  : 100%;
        padding: 0 2%;
    }

    .row {
        padding: 0 2%;
    }
}

/* small tablets to big tablets: from 767px to 1023px*/
@media only screen and (max-width: 1023px) {
    body {font-size: 18px;}
    section {padding: 60px 0;}
    .long-copy {
        width      : 80%;
        margin-left: 10%;
    }
    .steps-box {margin-top: 10px;}
    .steps-box:last-child {margin-top  : 20px;}
    .works-step {margin-bottom: 30px;}
    .works-step:last-of-type { margin-bottom: 50px;}
    .app-screen{ width: 40%;}

    .city-feature ion-icon{
        width: 17px;
        margin-right: 4px;
    }

    .city-feature,
    .city-feature a{ font-size:90% ;}
    .customer-word{font-size: 90%;}

    .plan-box{
        width:100%;
        margin-left: 0%;
    }
    .plan-price{font-size: 250%;}

    .contact-form{width:80%;}
}


/* small phones to small tablets like iPad: from 481px to 767px */
@media only screen and (max-width: 767px) {
    body {font-size: 16px;}
    section {padding: 30px 0;}
    .row,
    .hero-text-box{padding: 0 4%;}

    .col{
        width:100%;
        margin: 0 0 1% 0;
        }
    .h1{font-size: 180%;}
    .h2{font-size: 150%;}

    .main-nav{display: none;}
    .long-copy{
        width:100%;
        margin-left: 0%;}

    .works-step {margin-bottom: 20px;}
    .works-step:last-of-type { margin-bottom: 20px;}
    .works-step div {
        height       : 40px;
        width        : 40px;
        padding      : 1px;
        font-size    : 120%;
        margin-right : 12px;
    }
    .steps-box:first-child {
        text-align   : center;
        padding-right: 0%;
        margin-top   : 20px;
    }
    .app-screen{ width: 25%;}
    .box img {
        width        : 70%;
        height       : auto;
        margin-bottom: 15px;
        margin-left: 14%;
    }
    .city-feature ion-icon {font-size:190%;}

    .city-feature{ 
        font-size:110%;
    margin-left: 14%;}
    .box h3{margin-left: 14%;}
}
/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    sction{padding: 25px 0;}
    .contact-form{width:100%}
}
